<section>
  <div class="container1">
    <nav>
      <ul>
        <a href="https://www.facebook.com/VALORANTbrasil/"
          ><img src="/valorant.png" alt=""
        /></a>
        <a href="https://www.youtube.com/channel/UCgWiuB2PQIUhJgEN9No281g"
          ><img src="/valorant.png" alt=""
        /></a>
        <a href="https://www.instagram.com/valorantbrasil"
          ><img src="/valorant.png" alt=""
        /></a>
        <a href="https://www.instagram.com/valorantbrasil"
          ><img src="/valorant.png" alt=""
        /></a>
        <a href="https://discord.com/invite/valorant-br"
          ><img src="/valorant.png" alt=""
        /></a>
      </ul>
    </nav>
  </div>

  <div class="container">
    <img src="/valorant.png" alt="">
  </div>

  <div class="container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et,
      reprehenderit eos maiores quas repellat eveniet nostrum dicta provident
      quae sapiente, vitae, quam iure culpa repudiandae. Vitae sequi officia
      culpa vero?
    </p>
  </div>


  <div class="container">
    <a href="https://www.riotgames.com/pt-br/privacy-notice-BR">Política de Privacidade</a>
    <a href="https://www.riotgames.com/pt-br/terms-of-service-BR">Termos de Serviço</a>
    <a href="">Preferência de Cookies</a>
  </div>


  <div class="container">
    <img src="/valorant.png" alt="">
  </div>
</section>
